body{
    background-color: rgb(32, 33, 36);
}

h1{
    color: goldenrod;
    text-align: center;
}

h2{
    color: orange;
    text-align: right;
}

h3{
    color:salmon;
    text-align: left;
}

p{
    color: fuchsia;
    text-align: left;
}

button{
        background-color: #d7a24b; 
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
